/* Open Sans */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: 230px;
}
.nav-name{
    font-size: 45px;
    font-weight: 800;
    margin-top: 51px;
    margin-left: 226px;
}
.nav-single{
    color: #FD6E0A;
}
.nav-port{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}
.nav-blog{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}
.nav-btn{
    color: white;
    background-color: #FD6E0A;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    border: none;
    border-radius: 5px;
}
.banner{
    display: flex;
}
.banner-well{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    
}
.banner-name{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.banner-des{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
.banner-cv-btn{
    color: white;
    background-color: #FD6E0A;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    border: none;
    border-radius: 5px;
}
.banner-conct-btn{
    color: white;
    color: #FD6E0A;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}
.banner-sec{
    margin-top: 50px;
    margin-left: 230px;
}
.main-section{
    background-color: #FFF8F3;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 10px;

}
.main-div-1{
    border: 1px solid black;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}
.main-about{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.main-about-des{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: 780px;
    margin: 0 auto;
}
.main-about-details{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
}
.main-name{
    color: #757575;
    font-size: 20px;
    font-weight: 400;

}
.main-place{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
.main-sec-2title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.main-sec-2des{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    
}
.section-main{
    text-align: center;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 50px;
}
.card-container{
    display: flex;
    gap: 50px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 130px;
}
.single-card{
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 50px;
    border-radius: 5px;
}
.card-head{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.card-des{
    color: #757575;
}
.sec-ability-head{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 115px;
}
.main-experience-sec{
    display: flex;
    margin-right: 230px;
    margin-left: 230px;
    gap: 25px;
    margin-bottom: 50px;
}
.main-edu{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.master-sr{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.harvard-apple{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.list-skill{
    color: #757575;
}
.edu-ex-btn{
    text-align: center;
    margin-bottom: 50px;
}
.footer-container{
    display: flex;
    margin-right: 230px;
    margin-left: 230px;
    gap: 50px;
}
.footer-about{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.footer-img{
    margin-right: 15px;
    margin-top: 15px;
}
.footer-des{
    color: #474747;
}
.footer-text{
    width: 450px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 25px;
    margin-bottom: 25px;
    border: none;
}
.footer-email{
    width: 450px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 25px;
    margin-bottom: 25px;
    border: none;
}
.footer-msg{
    width: 452px;
    height: 170px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 25px;
    margin-bottom: 25px;
    border: none;
}
.form-container{
    padding-left: 300px;
}
footer{
    background-color: #FFF8F3;
    padding-top: 130px;
    padding-bottom: 100px;
}


@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }

    .nav-name{
        margin: auto;
        margin-bottom: 10px;
    }

    nav ul{
        margin: auto;
        padding: 0;
    }

    ul{
        width: 100%;
    }

    .banner{
        flex-direction: column;
    }

    .banner-sec{
        margin: 0;
    }

    .header:first-child{
        background-image: none;
    }
    .banner-cv-btn{
        margin-bottom: 18px;
    }

    .main-section{
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .main-div-1{
        margin: 0;
        border: none;
    }

    .main-about{

    }

    .main-about-des{
        width: 100%;
        margin: 0;
    }

    .main-about-details{
        flex-direction: column;
    }

    .section-main{
        margin: 0;
    }

    .card-container{
        flex-direction: column;
        margin: 0;
    }

    .main-experience-sec{
        flex-direction: column;
        margin: 0;
    }

    footer{
        padding: 0;
    }

    .footer-container{
        flex-direction: column;
        margin: 0;
    }

    .form-container{
        max-width: 550px;
        padding: 0;
        margin: 0;
    }

    .footer-text,
    .footer-email,
    .footer-msg{
        width: 90%;
    }


}